# Bank Client Data

In [2]:
# Importing Pandas library
import pandas as pd

In [3]:
# The code was removed by Watson Studio for sharing.

(45211, 17)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB


   # Bank Client Data:
   
   1 - age (numeric)   
   2 - job : type of job (categorical:   "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
                                       "blue-collar","self-employed","retired","technician","services")   
   3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)   
   4 - education (categorical: "unknown","secondary","primary","tertiary")  
   5 - default: has credit in default? (binary: "yes","no")  
   6 - balance: average yearly balance, in euros (numeric)   
   7 - housing: has housing loan? (binary: "yes","no")  
   8 - loan: has personal loan? (binary: "yes","no")  
   
   ### related with the last contact of the current campaign:
   
   9 - contact: contact communication type (categorical: "unknown","telephone","cellular")   
  10 - day: last contact day of the month (numeric)  
  11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")  
  12 - duration: last contact duration, in seconds (numeric)  
  
   ### other attributes:
   
  13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)  
  14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)  
  15 - previous: number of contacts performed before this campaign and for this client (numeric)    
  16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")  

  ### Output variable (desired target):  
  17 - y - has the client subscribed a term deposit? (binary: "yes","no")

In [5]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [25]:
# Looking for missing data:

for i in range(16):
    missing = pd.isna(df.iloc[:,i])
    print(df.columns.tolist()[i], missing.value_counts(), '\n')

age False    45211
Name: age, dtype: int64

job False    45211
Name: job, dtype: int64

marital False    45211
Name: marital, dtype: int64

education False    45211
Name: education, dtype: int64

default False    45211
Name: default, dtype: int64

balance False    45211
Name: balance, dtype: int64

housing False    45211
Name: housing, dtype: int64

loan False    45211
Name: loan, dtype: int64

contact False    45211
Name: contact, dtype: int64

day False    45211
Name: day, dtype: int64

month False    45211
Name: month, dtype: int64

duration False    45211
Name: duration, dtype: int64

campaign False    45211
Name: campaign, dtype: int64

pdays False    45211
Name: pdays, dtype: int64

previous False    45211
Name: previous, dtype: int64

poutcome False    45211
Name: poutcome, dtype: int64

In [42]:
# working on 11 - month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
D_months = {'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}
df['month'].replace(to_replace = D_months,  inplace=True)
print(df['month'])

0         5
1         5
2         5
3         5
4         5
5         5
6         5
7         5
8         5
9         5
10        5
11        5
12        5
13        5
14        5
15        5
16        5
17        5
18        5
19        5
20        5
21        5
22        5
23        5
24        5
25        5
26        5
27        5
28        5
29        5
         ..
45181    11
45182    11
45183    11
45184    11
45185    11
45186    11
45187    11
45188    11
45189    11
45190    11
45191    11
45192    11
45193    11
45194    11
45195    11
45196    11
45197    11
45198    11
45199    11
45200    11
45201    11
45202    11
45203    11
45204    11
45205    11
45206    11
45207    11
45208    11
45209    11
45210    11
Name: month, Length: 45211, dtype: int64

In [43]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month         int64
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [49]:
# No/Yes to 0/1
# Columns: default, housing, loan, y
D_y_n = {'yes': 1, 'no': 0}
df['default'].replace(to_replace = D_y_n,  inplace=True)
df['housing'].replace(to_replace = D_y_n,  inplace=True)
df['loan'].replace(to_replace = D_y_n,  inplace=True)
df['y'].replace(to_replace = D_y_n,  inplace=True)

In [50]:
df[['default', 'housing', 'loan', 'y']]

       default  housing  loan  y
0            0        1     0  0
1            0        1     0  0
2            0        1     1  0
3            0        1     0  0
4            0        0     0  0
5            0        1     0  0
6            0        1     1  0
7            1        1     0  0
8            0        1     0  0
9            0        1     0  0
10           0        1     0  0
11           0        1     0  0
12           0        1     0  0
13           0        1     0  0
14           0        1     0  0
15           0        1     0  0
16           0        1     0  0
17           0        1     0  0
18           0        1     0  0
19           0        1     0  0
20           0        1     1  0
21           0        1     0  0
22           0        1     1  0
23           0        1     0  0
24           0        1     1  0
25           0        1     0  0
26           0        1     0  0
27           0        1     1  0
28           0        1     0  0
29           0        1     1  0
...        ...      ...   ... ..
45181        0        0     0  0
45182        0        0     0  1
45183        0        0     0  0
45184        0        0     0  0
45185        0        1     0  1
45186        0        0     0  0
45187        0        1     0  1
45188        0        1     0  1
45189        0        0     0  0
45190        0        0     0  1
45191        0        1     0  1
45192        0        0     0  1
45193        0        0     0  1
45194        0        1     1  0
45195        0        0     0  1
45196        0        0     0  1
45197        0        1     0  1
45198        0        0     0  0
45199        0        1     0  0
45200        0        1     0  1
45201        0        0     0  1
45202        0        0     0  1
45203        0        0     0  1
45204        0        0     0  1
45205        0        0     1  1
45206        0        0     0  1
45207        0        0     0  1
45208        0        0     0  1
45209        0        0     0  0
45210        0        0     0  0

[45211 rows x 4 columns]