# Studies in Python

## Types

* integers (int)
* real (float)
* words (str)
* boolean (bool)

In [2]:
x = 21
y = 3.75
z = 'hello'

In [5]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [10]:
print(z)

hello

_Using int() the values are trunc_

In [7]:
int(y)

3

_Bool returns true or false._

    If bool = 1 
        true
    If bool = 0
        false

In [8]:
print(bool(1))

True

In [9]:
print(bool(0))

False

_Division_

In [13]:
13/2
#Result is a real number

6.5

In [15]:
13//2
#Result is a int

6

### Strings Operations

In [21]:
Nam = 'Greice de Freitas'
print(Nam)
print(type(Nam))
print('length  =', len(Nam))

Greice de Freitas
<class 'str'>
length  = 17

In [27]:
print(Nam[0])
print(Nam[1])
print(Nam[6:17])
print(Nam[-1])

G
r
 de Freitas
s

In [33]:
F_Nam = Nam + ' Körbes'
print(F_Nam)

Greice de Freitas Körbes

In [35]:
Tri_Nam = Nam *3
print(Tri_Nam)

Greice de FreitasGreice de FreitasGreice de Freitas

In [36]:
U_Nam = Nam.upper()
print(U_Nam)

GREICE DE FREITAS

In [38]:
F_Nam = Nam.replace('Greice', 'Felipe')
print(F_Nam)

Felipe de Freitas

In [39]:
F_Nam.find('Greice')

-1

In [43]:
F_Nam.find('Freitas')

10

In [41]:
F_Nam[10]

'F'

In [47]:
print(Nam + '\n' + F_Nam) #New line
print(Nam + '\t' + F_Nam) #Tab
print(Nam + '\\' + F_Nam) #\

Greice de Freitas
Felipe de Freitas
Greice de Freitas	Felipe de Freitas
Greice de Freitas\Felipe de Freitas

### Tuples and Lists

#### Tuples
Tuples are immutable; if a method is called, the original tuple doesn't change

In [49]:
T1 = (1,2,3,4,5)
print(T1)
print(type(T1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [52]:
T2 = (-1,0) + T1 + (6,7)
print(T2)
print(len(T2))

(-1, 0, 1, 2, 3, 4, 5, 6, 7)
9

In [56]:
print(T2[0]) #index starts in 0
print(T2[4])
print(T2[8])

-1
3
7

**Nesting:  Tuples of tuples**

In [64]:
T3 = T1 + ((1,2),('a','b','c'), ((20,2.2),3))
print(T3)
print(type(T3))

(1, 2, 3, 4, 5, (1, 2), ('a', 'b', 'c'), ((20, 2.2), 3))
<class 'tuple'>

In [68]:
#To acess elements from subsets
print(T3[5][1])
print(T3[6][0])
print(T3[7][0][1])

2
a
2.2

#### Lists

In [70]:
L = [1,'a',3,'b',5,'c',7]
print(L)
print(type(L))
print(len(L))

[1, 'a', 3, 'b', 5, 'c', 7]
<class 'list'>
7

In [74]:
L.extend(['d',8]) #Thats the diference between lists and tuples!
print(L)
L.append([1.3,2.7])
print(L)
print(len(L))

[1, 'a', 3, 'b', 5, 'c', 7, 'd', 8, 'd', 8, 'd', 8, [1.3, 2.7], 'd', 8]
[1, 'a', 3, 'b', 5, 'c', 7, 'd', 8, 'd', 8, 'd', 8, [1.3, 2.7], 'd', 8, [1.3, 2.7]]
17

In [77]:
#String to list:
L_N = Nam.split()
print(L_N)

['Greice', 'de', 'Freitas']

In [82]:
#Aliasing:
A = [1,'a',2]
B = A
print('B =', B)
A[0] = 'banana'
print('A =',A)
print('B =',B)

B = [1, 'a', 2]
A = ['banana', 'a', 2]
B = ['banana', 'a', 2]

In [85]:
#To clone:
B = A[:]
print('A = ', A)
print('B = ', B)
B[0] = 1
print('A = ', A)
print('B = ', B)

A =  ['banana', 'a', 2]
B =  ['banana', 'a', 2]
A =  ['banana', 'a', 2]
B =  [1, 'a', 2]